.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  text-align: center;
  padding: 50px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.auth-button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: white;
}

.auth-button.google {
  background-color: #db4437;
}

.auth-button.microsoft {
  background-color: #0078d4;
}

.auth-button.yahoo {
  background-color: #6001d2;
}

/* Modal Styles */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  width: 600px;
  height: 80vh;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Draggable Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #202124;
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: default;
  height: 8px;
  align-items: center;
  position: relative;
}

.modal-title {
  padding-top: 4px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(210, 209, 209);
  height: 20px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  width: 50px;
  cursor: pointer;
  padding: 4px 8px 8px;
  color: white;
  height: 100%;
  transition: background-color 0.3s ease;
  border-radius: 0 8px 0 0;
}

.modal-close:hover {
  background-color: red;
}


/* Modal Body */
.modal-body {
  padding: 1px;
  overflow-y: auto;
}
.modal-link{
  background-color: rgb(202, 202, 202);
  height: 45px;
  text-align: left;
  padding-top: 2px;
}
.modal-title-url{
  background-color: rgb(243, 240, 240);
  border: none;
  height: 90%;
  width: 99.1%;
}
textarea:focus, input:focus{
  outline: none;
}

.session-container {
  padding: 20px;
}

.session-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.session-form input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.sessions-list ul {
  list-style: none;
  padding: 0;
}

.sessions-list li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.session-details {
  margin-top: 20px;
  padding: 10px;
}

.error {
  color: red;
}
.sessions-list{
  display: flex;
}
.session-left{
  width: 24%;
  height: 95vh;
  overflow: auto;
}
.session-divider{
  width: 1px;
  height: 95vh;
  background-color: black;
  border: 1px solid black;
}
.session-right{
  width: 52%;
  height: 95vh;
  overflow: auto;
}
.session-history{
  width: 23%;
  height: 95vh;
  overflow: auto;
}
.captcha-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}
.session-tracking{
  display: flex;
  width: 80%;
  align-items: center;
  justify-self: left;
}
.session-system{
  width: 40%;
  margin-left: 10vw;
}
.session-geo{
  width: 59%;
}
.session-divider-horizontal{
  width: 100%;
  border: 1px solid black;
  height: 1px;
}
#action-button{
  width: 200px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #0078d4;
  color: white;
  border: 0;
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 5px;
}
.session-email{
  margin-left: 10vw;
}
.session-info{
  display: flex;
  align-items: center;
  justify-content: left;
}
.instagram-actions{
  margin-top: 5vh;
}
.email-actions{
  margin-top: 5vh;
}
.session-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#action-button.active {
  background-color: #007bff;
  color: #fff;
}

/* Style the provider selection container */
.provider-selection {
  margin-bottom: 10px;
}