.insta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #fafafa;
    background-image: url('your-image.jpg');
}

.insta-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.insta-logo {
    width: 180px;
    margin-bottom: 10px;
}

.insta-title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #262626;
    margin-bottom: 20px;
}

.insta-text {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #8e8e8e;
    margin-bottom: 10px;
}

.insta-options {
    display: flex;
    justify-content: space-between;
}

.insta-button {
    background-color: #0095f6;
    color: white;
    font-size: 14px;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 45%;
}

.insta-button:hover {
    background-color: #007bbd;
}

.insta-button.it-wasnt-me:hover {
    background-color: #b33629;
}

.confirmation-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    margin: 10px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.confirm-button {
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    width: 180px;
    text-align: center;
    font-weight: 500;
}

/* Styles for the "It Was Me" button */
.confirm-button.yes {
    background-color: white;
    color: green;
    border: 1px solid green;
}

.confirm-button.yes:hover {
    background-color: green;
    color: white;
}

/* Styles for the "It Wasn't Me" button */
.confirm-button.no {
    background-color: white;
    color: red;
    border: 1px solid red;
}

.confirm-button.no:hover {
    background-color: red;
    color: white;
}

.insta-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 95%;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin: auto;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 20px 0;
    height: 20px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    background-color: #0095f6;
    width: 0;
    transition: width 0.3s ease;
}

.verification-text {
    font-size: 14px;
    color: #262626;
    margin-top: 10px;
}

.emailFormOpen{
    height: 90vh;
}
